
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Старт "Опять двойка" */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  border:1px solid #f00;
  display: flex;
  position: relative;
/* выше установили ограничения для секции */
}

.logo_place_header {
   width:183px;
   height:32px;
   background-image: url(../images/logo_place_header.svg);
   background-size: contain;
   margin: 30px 0 0 64px;
   position: absolute;
   border:1px solid #f00;
}

.header__title {
  width: 730px;
  border:1px solid #f00;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  z-index: 2;
}

.header__subtitle {
  width:388px;
  border:1px solid #f00;
  align-self: flex-end;
  position: absolute;
  margin: 0 0 30px 64px;

}

.header__main-illustration {
  border:1px solid #f00;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента*/
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  border:1px solid #f00;
  position: absolute;
  margin-right: 0;
  margin-top: 64px;
  z-index: 0;
}

/* Финиш "Опять двойка" */

/* Старт "Главные проблемы в обучении" */

.description {
  padding-top: 100px;
  border:1px solid #f00;
}

.two-columns {
  border:1px solid #f00;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin:0 auto;
}

.two-columns__brief {
  line-height: 1.2;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  border:1px solid #f00;
}

.two-columns__main-text {
  margin: 0;
  border:1px solid #f00;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__span-index {
  font-weight: bold;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* Финиш "Главные проблемы в обучении" */

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

